/*
background: #0B192E;
font: #CDD7F5;
blue: #6CE4FE;
green: #64ffda;
*/

:root {
  --background-color: #0B192E;
  --light-grey: #CDD7F5;
  --dark-grey: #8993AF;
  --neon-blue: #6CE4FE;
  --button-hover: #233043;
  --grid-item: #081220;
  --font: 'Manrope';
  --font-button: 'IBM Plex Mono';
}



/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of css reset */

body {
  background-color: var(--background-color);
  font-family: var(--font), sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--dark-grey);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.light-grey {
  color: var(--light-grey);
}

a, a:visited {
  color: var(--light-grey);
  text-decoration: none;
  transition: color .2s, text-decoration .2s;
}

a:hover, a:focus, a:active {
  color: var(--neon-blue);
  text-decoration: underline;
}

button,
button:visited,
.button,
.button:visited {
  display: inline-block;
  font-family: var(--font-button), sans-serif;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
  color: var(--neon-blue);
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--neon-blue);
  transition: background-color .2s;
}

button:hover,
button:focus,
button.active,
.button:hover,
.button:focus,
.button.active {
  background-color: var(--button-hover);
  text-decoration: none;
  cursor: pointer;
}

.secondary_button {
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
  display: inline-block;
}

nav {
  font-family: 'IBM Plex Mono', sans-serif;
}

a.navigation-list_item {
  text-decoration: none;
}

a.navigation-list_item:hover {
  text-decoration: underline;
}

.navigation-list_item--active {
  text-decoration: none;
  opacity: 80%;
}

a.navigation-list_item--active {
  text-decoration: none;
}

a.navigation-list_item--active:hover {
  color: var(--neon-blue);
  opacity: 80%;
  text-decoration: none;
}

input, textarea {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width: 150px;
  text-align: center;
  color: var(--light-grey);
  background-color: #0B192E;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  transition: color, 0.2s;
}

input, textarea:hover,
input, textarea:focus,
input, textarea.active {
  background-color: var(--button-hover);
  text-decoration: none;
}

.about-image {
  width: 300px;
  height: auto;
  float: left;
}

.profile-img {
  float: left;
  margin-right: 40px;
  width: 200px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-logo {
  max-width: 50px;
  transition: transform .2s;
}

.header-logo:hover {
  transform: rotate(5deg);
  transition-duration: 0.2s;
}

.profile {
  max-width: 800px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.centered {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

@keyframes color-change {
  0% {
    fill: #1BD0F8;
  }

  25% {
    fill: #06195F;
  }

  50% {
    fill: #37065F;
  }

  75% {
    fill: #0DBC34;
  }

  100% {
    fill: #EDD70D;
  }
}

.cloud {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes observe {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-600px, 0);
  }
}

.peryskop {
  animation-duration: 30s;
  animation-name: observe;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sunrise {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, -275px);
  }
}

.sun {
  animation-duration: 25s;
  animation-name: sunrise;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes water-change {
  from {
    fill: #383DBB;
  }

  to {
    fill: #166658;
  }
}

.water {
  animation-duration: 20s;
  animation-name: water-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes entry {
  0% {
    left: 100%;
  }

  70% {
    left: -10%;
  }

  100% {
    left: 0%;
  }
}

#welcome {
  animation-name: entry;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
}

.grid_item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid_item {
    background-color: var(--grid-item);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid_item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }
}
